.vscode-test/**
.vscode/**
.agents/**
.github/**
scripts/**
src/**
.gitignore
package-lock.json
tsconfig.json
.eslintrc.json
**/*.map
**/*.ts
out/test/**
out/debug/**
**/*.bak
**/.DS_Store
.DS_Store
*.vsix
